:root {
  --primary-color: #007bff; /* Default primary color */
  --background-color: #ffffff; /* Default background color */
  --text-color: #333333; /* Default text color */

  --primary-color-dark: #61dafb; /* Dark mode primary color */
  --background-color-dark: #333333; /* Dark mode background color */
  --text-color-dark: #ffffff; /* Dark mode text color */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

.button {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 10px 20px;
}

.App {
  text-align: center;
  margin-top: 20px;
}

.fx-card {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.create-button {
  margin-top: 20px;
}

input,
button {
  margin: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-main {
  margin: 0 1.5rem;
}
